<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_post_comment_path(@comment) %> |
  <%= link_to "Back to comments", post_comments_path(@comment) %>

  <%= button_to "Destroy this comment", post_comment_path(@comment), method: :delete %>
</div>
