<div id="<%= dom_id invoice %>">

<p>
    <strong>ID:</strong>
    <%= invoice.id %>
  </p>
 
 <p>
    <strong>From:</strong>
    <%= invoice.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= invoice.to %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= invoice.description %>
  </p>

</div>
