<div id="<%= dom_id address %>">
  <p>
    <strong>Person:</strong>
    <%= address.person_id %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= address.zipcode %>
  </p>

</div>
