<%= form_with(model: @post) do |form| %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
    <%= form.label :content, style: "display: block" %>
    <%= form.rich_text_area :content %>
  <div>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
