<div id="<%= dom_id post %>" class= "border border-dark">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.content %>
  </p>


    <div class="border border-dark">
    <% post.comments.each do |post| %>
    <strong>Comment:</strong>
     <p><%=  post.content %></p>
     
     <p>By: <%= post.user.email %>
    <% end %>
    
  </div>

</div>
