<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.content %>
  </p>


    <div>
    <% post.comments.each do |post| %>
    <strong>Comment:</strong>
     <p><%=  post.content %></p>
      <%= link_to 'Show comment', post_comments_path(post), action: :show%>
     <p>By: <%= post.user.email %>
    <% end %>
    
  </div>

</div>
