<div id="<%= dom_id post %>" class= "container border-bottom">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.content %>
  </p>


    <div>
    <% post.comments.each do |post| %>
    <strong>Comment:</strong>
     <p><%=  post.content %></p>
     
     <p>By: <%= post.user.email %>
    <% end %>
    
  </div>

</div>
