<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts" class= "container d-flex justify-content-center border-bottom">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <%= link_to "New comment", new_post_comment_path(post.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
