<h1 class="container d-flex justify-content-center my-3">Posts</h1>
<div class= "container d-flex justify-content-center">
<div class= "">
  <p style="color: green"><%= notice %></p>
  <div id="posts" class= "">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
        <%= link_to "New comment", new_post_comment_path(post.id) %>
         <%= link_to 'Show comment', post_comments_path(post), action: :show%>
      </p>
    <% end %>
  </div>
  <%= link_to "New post", new_post_path %>
  </div>
</div>
